<footer class="bg-success bg-gradient text-white py-4 mt-5 rounded fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Sistema Óseo <i class="fa-solid fa-bone"></i></h5>
                <p>© 2025 Todos los derechos reservados</p>
            </div>
            <div class="col-md-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white">Términos</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Privacidad</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>