{% load static %}

<div class="container">
    <div class="card shadow">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item" id="esternon">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>Esternón</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body scrollable-content">
                        <div class="container d-flex justify-content-center align-items-center">
                            <iframe class="rounded" src="https://www.youtube-nocookie.com/embed/47drZ1-fTSk?si=5hJw4BhmCxhIdXP-"
                                title="YouTube video player" frameborder="0"
                                loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Esternon1.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                                <div class="col">
                                    <p>
                                        <strong>Presentación general </strong><br><br>

                                        En esta imagen señalamos el esternón, un hueso plano y único que se encuentra en
                                        la
                                        parte
                                        anterior y media del tórax.
                                        La persona está en posición anatómica, y como se observa, con ambos dedos
                                        índices
                                        marcamos
                                        el trayecto del esternón.

                                        Este hueso se divide en tres partes:
                                        En la parte superior está el manubrio esternal, que es la región más cercana al
                                        cuello.
                                        Luego, en la parte media, se encuentra el cuerpo del esternón o mesoesternon,
                                        que es
                                        la
                                        porción más larga.
                                        Y por último, en la parte inferior, se localiza la apófisis xifoides, que es la
                                        porción
                                        más
                                        pequeña y delgada.

                                        Esta estructura forma parte fundamental de la caja torácica y protege órganos
                                        vitales
                                        como
                                        el corazón y los pulmones.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>Manubrio del esternón</strong><br><br>

                                        En esta imagen, el paciente se encuentra en posición anatómica, con el tronco
                                        erguido y los
                                        brazos relajados a los costados.

                                        Mediante palpación, identificamos el manubrio del esternón, que es la porción
                                        más superior
                                        de este hueso plano. Está delimitado entre los dos dedos índices del terapeuta y
                                        se localiza
                                        justo debajo de la escotadura yugular.

                                        Esta estructura corresponde aproximadamente a un tercio de la longitud total del
                                        esternón. A
                                        través de la palpación, también se puede reconocer su unión con el cuerpo del
                                        esternón, la
                                        cual se encuentra a nivel de la segunda costilla, un punto anatómico clave para
                                        la
                                        orientación clínica.
                                    </p>
                                </div>
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Esternon2.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Esternon3.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                                <div class="col">
                                    <p>
                                        <strong>Escotadura yugular</strong><br><br>

                                        En esta imagen, el paciente se encuentra en posición anatómica, con el cuerpo
                                        erguido y los
                                        brazos relajados.

                                        Utilizando el dedo índice, realizamos palpación sobre la parte superior del
                                        esternón, donde
                                        identificamos la escotadura yugular. Esta se localiza justo en la línea media,
                                        entre los
                                        extremos mediales de las clavículas.

                                        Al tacto, se percibe como una depresión con forma de “U” abierta hacia arriba,
                                        lo que
                                        facilita su identificación. Esta escotadura corresponde al borde superior o
                                        craneal del
                                        manubrio esternal.

                                        A los lados de esta estructura también se encuentran las escotaduras
                                        claviculares, que son
                                        superficies articulares donde se insertan las clavículas. Son cóncavas, planas
                                        hacia atrás y
                                        están orientadas hacia arriba y hacia afuera.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>Cuerpo del esternón</strong><br><br>

                                        En esta imagen señalamos el cuerpo del esternón, esta es una estructura ósea
                                        situada en la
                                        parte anterior del tórax. desde el punto de vista palpatorio este segmento se
                                        encuentra
                                        entre el manubrio y la apófisis xifoides, formando la porción central del hueso
                                        esternal
                                        para la exploración el paciente debe de estar en posición anatómica se ubica el
                                        borde
                                        inferior del manubrio hasta el inicio de la apófisis xifoides como se enseña en
                                        la imagen,
                                        al tacto se percibe como una estructura ósea plana, firme y con una ligera
                                        convexidad
                                        anterior y como dato el cuerpo del externo puede llegar a medir de 15 a 20
                                        centímetros en adultos.
                                    </p>
                                </div>
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Esternon4.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Esternon5.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                                <div class="col">
                                    <p>
                                        <strong>Apófisis xifoides</strong><br><br>

                                        En esta imagen señalamos la apófisis xifoides esta es la porción más inferior
                                        del esternón
                                        siendo una estructura casi siempre cartilaginosa en adultos desde el punto de
                                        vista
                                        palpatorio este se ubica en el extremo caudal del esternón justo por debajo del
                                        cuerpo para
                                        su palpación el paciente debe de estar en posición bípeda se aplica una presión
                                        suave sobre
                                        la zona inferior del esternón como se encuentra en la imagen, esta puede llegar
                                        a sentirse
                                        como una estructura prominente, perforada, curvada o ligeramente hundida lo cual
                                        facilitará
                                        o dificultará su palpación su longitud varía entre los 2 y 5 centímetros.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" id="clavicula">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <Strong>Clavícula</Strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body scrollable-content">
                        <div class="container d-flex justify-content-center align-items-center">
                            <iframe class="rounded" src="https://www.youtube-nocookie.com/embed/47drZ1-fTSk?si=5hJw4BhmCxhIdXP-"
                                title="YouTube video player" frameborder="0"
                                loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Clavicula1.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                                <div class="col">
                                    <p>
                                        <Strong>Concavidad anterolateral de la clavícula</Strong><br><br>

                                        La clavícula es un hueso largo comprendido transversalmente entre la escápula y
                                        el esternón en forma de letras cursiva. Se trata de un elemento clave de las
                                        cintura escapular. Esta región sirve de inserción al fascículo anterior del
                                        músculo deltoides.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>Convexidad posterolateral de la Clavícula</strong><br><br>


                                        Esta parte de la clavícula está conformada por el borde posterior. Es convexa y
                                        rugosa y sirve de inserción a las fibras claviculares del músculo trapecio
                                        (dicha inserción ocupa los dos tercios laterales del borde posterior).

                                    </p>
                                </div>
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Clavicula2.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Clavicula3.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                                <div class="col">
                                    <p>
                                        <strong>Convexidad anteromedial de la Clavícula</strong><br><br>

                                        Está convexidad ocupa los dos tercios mediales del borde anterior y sirve de
                                        inserción al músculo pectoral mayor

                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>La epífisis lateral</strong><br><br>

                                        La epífisis lateral de la clavícula se articula con el acromion mediante una
                                        superficie ovalada. Esta orientación facilita la movilidad del hombro, siendo
                                        parte esencial de la articulación acromioclavicular. Para explorar esta zona,
                                        usamos dos maniobras: la palpación-presión para evaluar dolor y resalte, y la
                                        movilización en plano sagital para detectar desplazamientos de la clavícula.
                                        Ambas permiten clasificar el grado de lesión.

                                    </p>
                                </div>
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Clavicula4.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Clavicula5.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                                <div class="col">
                                    <p>
                                        <strong>Concavidad posteromedial de la Clavícula</strong><br><br>

                                        En esta imagen podemos observar la concavidad posteromedial de la clavícula.
                                        Esta forma cóncava se localiza en los dos tercios mediales del borde posterior
                                        del hueso, justo donde se conecta con el esternón. Al realizar una palpación
                                        clínica, este punto permite detectar si hay resalta por desplazamiento o
                                        depresión, lo cual sugiere fractura o luxación.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>La epífisis medial de la Clavícula</strong><br><br>

                                        La epífisis medial de la clavícula es la parte más voluminosa y se articula con
                                        el esternón y el primer cartílago costal, formando parte de la articulación
                                        esternoclavicular. Su forma es similar a una silla de montar.”Esta estructura
                                        soporta la transmisión de fuerzas entre el brazo y el tronco. Su palpación y
                                        evaluación clínica ayudan a diferenciar dolor por disfunción articular o por
                                        lesión ligamentaria.”


                                    </p>
                                </div>
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded" src="{% static 'images/Clavicula6.png' %}" alt=""
                                        srcset="" style="height: 300px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" id="escapula">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="btncollapseThree">
                        <strong>Escápula</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body scrollable-content">
                        <div class="container d-flex justify-content-center align-items-center">
                            <iframe class="rounded" src="https://www.youtube-nocookie.com/embed/47drZ1-fTSk?si=5hJw4BhmCxhIdXP-"
                                title="YouTube video player" frameborder="0"
                                loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <hr>
                        <div class="container d-flex justify-content-center align-items-center">
                            <iframe class="rounded" src="https://www.youtube-nocookie.com/embed/47drZ1-fTSk?si=5hJw4BhmCxhIdXP-"
                                title="YouTube video player" frameborder="0"
                                loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <hr>
                        <div class="container d-flex justify-content-center align-items-center">
                            <iframe class="rounded" src="https://www.youtube-nocookie.com/embed/47drZ1-fTSk?si=5hJw4BhmCxhIdXP-"
                                title="YouTube video player" frameborder="0"
                                loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <hr>
                        <div class="container d-flex justify-content-center align-items-center">
                            <iframe class="rounded" src="https://www.youtube-nocookie.com/embed/47drZ1-fTSk?si=5hJw4BhmCxhIdXP-"
                                title="YouTube video player" frameborder="0"
                                loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <hr>
                        <div class="container d-flex justify-content-center align-items-center">
                            <iframe class="rounded" src="https://www.youtube-nocookie.com/embed/47drZ1-fTSk?si=5hJw4BhmCxhIdXP-"
                                title="YouTube video player" frameborder="0"
                                loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <hr>
                        <div class="container d-flex justify-content-center align-items-center">
                            <iframe class="rounded" src="https://www.youtube-nocookie.com/embed/47drZ1-fTSk?si=5hJw4BhmCxhIdXP-"
                                title="YouTube video player" frameborder="0"
                                loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <hr>
                        <div class="container d-flex justify-content-center align-items-center">
                            <iframe class="rounded" src="https://www.youtube-nocookie.com/embed/47drZ1-fTSk?si=5hJw4BhmCxhIdXP-"
                                title="YouTube video player" frameborder="0"
                                loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>